<div class="container">
    <div class="row row-content">
            <div class="col-sm-12">
                <div class="media-list">
                    <li class="media" ng-repeat="profile in profiles">
                        <div class="media-left media-middle">
                            <a ui-sref="app.profiledetails({id: profile._id})">
                                <img class="media-object img-thumbnail" ng-src={{profile.main_photo}} alt="Uthappizza">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">
                                <a ui-sref="app.profiledetails({id: profile._id})">{{profile.name}}</a>
                            <p>{{profile.description}}</p>
                        </div>
                    </li>
                </div>
            </div>
    </div>
</div>